name: deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: build
        run: mvn clean package

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: deploy
        env:
          HOST: ${{ secrets.FTP_SERVER }}
          PORT: ${{ secrets.FTP_PORT }}
          USER: ${{ secrets.FTP_USERNAME }}
          PASS: ${{ secrets.FTP_PASSWORD }}
        run: lftp -c "set sftp:auto-confirm yes; open -u $USER,$PASS -p $PORT $HOST; put target/seko-economy-1.0.jar -o /test_deploy/seko-economy-1.0.jar"


